<%- include ('../header') %>
<%- include ('../../../partials/sidebar') %>
<section id="content">
<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Add Cuisines</h2>
    </div>
    <div class="card-body card-padding">
        <form role="form" id="addCuisines" method="POST" enctype="multipart/form-data">
            <input type="hidden"  name="parentId" id="parentId"   />
            <div class="row">
                <div class="col-sm-6">  
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                          <input type="text" class="form-control" minlength="2" maxlength="60" id="name" name="name" placeholder="Name*">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fg-line col-md-6">
                        <p class="f-500 c-black m-b-15">Choose file to upload Icon  <span class="c-red m-l-3" >*</span> </p>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                            <div>
                                <span class="btn btn-info btn-file">
                                    <span class="fileinput-new">Upload Icon</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="icon" name="icon">
                                </span>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>  
                </div>   

            </div>    
            <div class="m-t-30 text-center">
                <button class="btn btn-primary btn-sm waves-effect">Create</button>
                <a href="<%- adminpath %>cuisines"><button type="button" class="btn btn-link btn-sm waves-effect">Cancel</button></a>
            </div> 
        </form>
    </section>
</section>
  <%- include ('../../../partials/scripts') %>
  <%- include ('../../../partials/commonJs') %>
<script type="text/javascript">
  $(function() {
    $('#cuisineTab').addClass('active');
    $('#cuisineTab a[href^="<%- adminpath %>cuisines"]').addClass('active');
  });

  $('#addCuisines').validate({
    rules: {
      name: {
        required: true,
      },
      icon: { required: true, accept: "image/jpg,image/jpeg,image/png"},
    },
    messages: {
      name: {
        required: "Please provide a name",
      },
      icon: {required: "This field is required", accept: 'Not an image!'},
    },
    submitHandler: function (form) {
      $(".page-loader").show();
      var tempform = $('#addCuisines');
      var form_data = new FormData(tempform[0]);
      $.ajax({
            type: 'POST',
            url: '<%-adminpath%>cuisines/postAdd',
            dataType: 'json',
            data: form_data,
            contentType:false,
            cache:false,
            processData:false,
            success: function (response) {
            console.log(response);
            if (response.code == '200') {
              showToastSuccess( response.message);
              $(".page-loader").hide();
              setTimeout(function(){ window.location.href="<%-adminpath%>cuisines"; },2000);
            }
            else{
               $(".page-loader").hide();
                showToastError(response.message)
            }
          }
      });
    }
  });
    

</script>


 </body>
</html>